@import "tailwindcss";
@plugin "daisyui";



/* index.css */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: system-ui, sans-serif;
  background: linear-gradient(to bottom right, #0d1b2a, #1b263b);
  color: white;
  overflow-x: hidden;
}

#root {
  min-height: 100%;
}

